.DS_Store
*.idb
*.log
*.aux
*.out
*.toc
*.lof
*.lot
*.fls
*.idx
*.fdb_latexmk
*.synctex.gz
.vscode/
.vscode/*
.vscode/**/*
Practica2/Memoria/main.log
*.key
*.crt
!Practica4/ArchivosOriginales/WafaAzdadTriki.crt
*.srl
Practica7/ArchivosOriginales/AC_Raiz_FNMT-RCM_SHA256.cer
Practica7/Salidas/certificados_confiables.pem
Practica7/ArchivosOriginales/certificado_fnmt.pem
